html,
body {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-family: "Open Sans", sans-serif, Arial, Helvetica;
  font-size: 15px;
  font-weight: 500;
  background: url(images/scott-webb-p1NPNYqCyCM-unsplash.jpg) no-repeat center
    center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.navbar {
  padding-top: 10px;
}
.navbar-brand {
  font-family: "Rye", cursive;
}
.hero-page-com {
  color: white;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
  font-family: "Open Sans Condensed";
  font-size: 8rem;
  font-weight: lighter;
  font-stretch: extra-condensed;
}
.hero-page-adv {
  color: white;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 2.5rem;
  margin-top: 0.6rem;
}
.hero-page-btn-contact {
  background-color: rgba(0, 0, 0, 0);
  border-color: white;
  margin-bottom: 1.5rem;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
}
.hero-page-btn-contact:hover {
  background-color: rgba(0, 0, 0, 0);
  border-color: white;
  border-width: 4px;
}
.services-section {
  background-color: white;
  width: 100%;
  padding: 120px 96px;
  position: relative;
  overflow: hidden;
}
.services-container {
  position: relative;
  width: 1170px;
  padding: 15px 0px;
  line-height: 24px;
}
.services.icon {
  float: left;
  width: auto;
  height: auto;
  padding-right: 20px;
  padding-bottom: 180px;
}
.subhead2 {
  vertical-align: text-top;
  text-align: left;
  padding-right: 40px;
  padding-bottom: 60px;
  padding-left: 10px;
}
.footer-1 {
  display: block;
  border-radius: 10px;
  border-color: royalblue;
  justify-content: center;
  color: white;
  font-weight: lighter;
}
.services2 {
  padding-bottom: 20px;
}
